[Unit]
Description=next-gen Oniti supervision system
After=network-online.target

[Service]
User=oniti
ExecStart=/home/oniti/go/bin/nosee-web -d /home/oniti/nosee/web/
Type=simple
Restart=on-failure
EnvironmentFile=/home/oniti/.env.nosee-web

[Install]
WantedBy=multi-user.target
